<app-alert *ngIf="isSuccess"></app-alert>
<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header text-center">
				Student CRUD
			</div>
			<div class="card-body">
				<h5 class="card-title">Add / Update Student</h5>
				<form [formGroup]="studentForm" (submit)="submitForm()" autocomplete="off">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" formControlName="name" placeholder="Satz" [ngClass]="{ 'is-invalid': isSubmitted && validate.name.errors }">
						<div *ngIf="isSubmitted && validate.name.errors" class="invalid-feedback">
							Please enter the name.
						</div>
					</div>
					<div class="form-group">
						<label for="email">Email address</label>
						<input type="email" class="form-control" formControlName="email" placeholder="name@example.com" [ngClass]="{ 'is-invalid': isSubmitted && validate.email.errors }">
						<div *ngIf="isSubmitted && validate.email.errors" class="invalid-feedback">
							Please enter the valid email address.
						</div>
					</div>
					<div class="form-group">
						<label for="country">Country</label>
						<select class="form-control" formControlName="country" [ngClass]="{ 'is-invalid': isSubmitted && validate.country.errors }">
          <option value="">select country</option>
          <option value="1">India</option>
          <option value="2">Other</option>
        </select>
						<div class="invalid-feedback" *ngIf="isSubmitted && validate.country.errors">
							Please choose the country.
						</div>
					</div>
					<div class="form-group">
						<label for="comments">Comments</label>
						<textarea class="form-control" formControlName="comments" rows="3" [ngClass]="{ 'is-invalid': isSubmitted && validate.comments.errors }"></textarea>
						<div class="invalid-feedback" *ngIf="isSubmitted && validate.comments.errors">
							Please enter the comments.
						</div>
					</div>
					<button type="submit" class="btn btn-primary" [disabled]="isLoading" >Add Student</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<app-student-list></app-student-list>
	</div>